body.navbar-fixed-top {
  padding-top: 4.5rem
}

pre {
  color: var(--light);
  background-color: var(--gray-dark);
}

pre code {
  display: block;
  padding: 0.5rem;
}

blockquote {
    margin-left: 0.5rem;
    border-left: 0.25rem solid var(--secondary);
    padding-left: 0.5rem;
}
