<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head" . }}
    {{ partial "title" . }}
  </head>
  <body{{ if and (isset $.Site.Params "fixednav") $.Site.Params.fixednav }} class="navbar-fixed-top"{{ end }}>
    {{ block "header" . }}
      {{ partial "nav" . }}
    {{ end }}
    <main role="main" class="container mb-5">
      {{ block "main" . }}
      {{ end }}
    </main>
    <footer class="container mb-4">
      {{ block "footer" . }}
        {{ partial "footer" . }}
      {{ end }}
    </footer>

    {{ partial "javascript" . }}
    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>
